$black: black;
$white: white;
$primary: #002343;
$secondary: #f49331;

$pagination-color: $black;
$pagination-active-bg: $secondary;
$pagination-hover-color: $black;


@import '~bootstrap/scss/bootstrap.scss';

.btn-primary {
    &:hover {
        background-color: $secondary;
        border-color: $secondary;
        color: $black;
    }
}

.btn-secondary {
    &:hover {
        background-color: $primary;
        border-color: $primary;
        color: $white;
    }
}

.outline-white {
    .btn {
            &:hover {
                background-color: transparent;
                border-color: transparent;
                color: $secondary;
            }
        }
}