.dropdown-item:active{
    background-color: lightgray !important;
}

.nav-link:hover {
    color: white !important;
    text-decoration: underline !important;
}

.btn-outline-secondary:focus {
    background-color: transparent !important;
}
.btn-outline-secondary:active {
    background-color: transparent !important;
}
.btn-outline-secondary:hover {
    background-color: transparent !important;
}